# ignore all module files 
*.o
*.mod
#ignore the executable
rixs
rixs_b
rixs_b2
debug_b
scaling_b
scaling_single
rixs_oscstr
rixs_vecA
rixs_pathway
#ignore vim swp files
.*.swp
tags
#ignore executables in bin
./bin/*
