# ignore all module files 
*.o
*.mod
#ignore the executable
rixs
rixs_b
rixs_b2
debug_b
scaling_b
scaling_single
rixs_oscstr
rixs_vecA
rixs_pathway
#ignore vim swp files
.*.swp
tags
#ignore executables in bin
bin/*
!bin/.gitkeep
#ignore testdata
test/data/diamond/pathway/data.h5
test/data/diamond/pathway/rixs.h5
test/data/diamond/coherence/rixs.h5
test/data/lif/rixs.h5
test/data/lif/data.h5
